body {
	background-color: pink;
}

.navbar {
	margin: 0 auto;
	}

.col-sm-4 {
	margin: 0 0 0 0;
	padding: 170px 40px 170px 40px;
	color: white;
    background-size: cover;

}

#hamilton {
	background-image: url(https://cdn-images-1.medium.com/max/800/1*qJnPOGdtk1q7dq17tx1aYg.gif);
}

#hopper {
	background-image: url(https://s3.amazonaws.com/quotabelle/authors/grace-hopper/hopper-tech.jpg)
}

#lovelace {
	background-image: url(https://s-media-cache-ak0.pinimg.com/originals/b7/2a/ee/b72aee00a4ffe86a8c57128d483e1203.jpg);
}

.name {
	font-family: 'Diplomata SC', cursive;
	color: pink;
	font-size: 37px;

}

.description {
	font-size: 25px;
	background-color: black;
}

#aboutus {
	font-size: 100px
}

#about {
	font-size: 25px
}